{% extends 'base.html.twig' %}

{% block title %}Редактирование профиля{% endblock %}


{% block body %}
    <div class="p-5" style="max-width: 600px; margin: auto;">
        {{ form_start(profile) }}
        {{ form_end(profile) }}
    </div>
{% endblock %}


