{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
    <style>
        .user-list {
            display: flex;
            flex-direction: column;
        }
        .user-list .list-item {
            width: 100%;
        }
    </style>
    <div class="user-list">
    {% for i in users %}
        <div class="list-item">
            <a href="{{ path('app_route_profile_page', {id: i.getId()}) }}">{{ i.getUsername() }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
